#recherche {
background:url(img/fond-form.png);
height:39px;/* 55 – 16 = 39 */
padding:16px 0 0 26px;/* Ces valeurs, permettant de caler notre contenu, sont retirés pour la hauteur et la largeur de notre bloc #recherche */
width:190px;/* 216 -26 = 190 */
}

#recherche .champ {
background:transparent;
border:none;
font-family:verdana;
font-size:11px;
margin-right:10px;
width:135px;
}

#recherche .bouton {
background:transparent;
border:none;
cursor:pointer;
height:20px;
width:20px;
}